#W
acs_bm11_0.*
acs_bm11_1.*
acs_bm00_0.*
acs_bm00_1.*            
acs_bm01_0.*
acs_bm01_1.*
acs_bm10_0.*
acs_bm10_1.* 

#E
pm_00.*
pm_01.*
pm_next_11.*

#N
smu_surv_bit_00
smu_surv_bit_01
smu_surv_bit_10
smu_surv_bit_11
pm_10.*
pm_11.*

#S
pm_next_01.*
pm_next_00.* 
pm_next_10.*