#W
rx_data\[15\]$
rx_data\[14\]$
rx_data\[13\]$
rx_data\[12\]$
rx_data\[11\]$
rx_data\[10\]$
rx_data\[9\]$
rx_data\[8\]$

#E
rx_data\[7\]$
rx_data\[6\]$
rx_data\[5\]$
rx_data\[4\]$
rx_data\[3\]$
rx_data\[2\]$

#N
clk
rst_n
load_rx
ext_en

#S
rx_data\[1\]$
rx_data\[0\]$
bmu_sym.*